

#country{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}



.country{
    background-color:blanchedalmond;
    
    border: black 1px solid;
    border-radius: 20px;
    margin: 15px;
    padding: 16px;
}